@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

label {
    display: block;
    margin: 0.4rem 0;
  }
  
input{
    border: solid 2px black;
    font: 1rem 'Fira Sans', sans-serif; 
    margin: 0.4rem 0;
  }

.search{
display:flex;
flex-direction: row;
}
  
